
                    <div class="mt-5
            max-h-[270px]
            overflow-y-auto
            pr-2
            scrollbar-thin scrollbar-thumb-neutral-700 scrollbar-track-transparent">
                        <ul>
                            <li class="flex items-center justify-between bg-[#181818] rounded-lg p-4 mt-4">

                                <!-- LEFT: Server identity -->
                                <div class="flex items-center gap-4 min-w-[200px]">
                                    <div class="bg-gray-500/20 p-3 rounded-xl text-lg">
                                        <i class="fa-solid fa-box-open"></i>
                                    </div>

                                    <div>
                                        <h4 class="font-semibold text-sm">dy-bw-r-12</h4>
                                        <p class="text-xs text-gray-400">BedWars Summer</p>
                                    </div>
                                </div>

                                <!-- STATUS -->
                                <div class="flex items-center gap-2 min-w-[110px]">
                                    <span class="h-2 w-2 rounded-full bg-emerald-500"></span>
                                    <span class="text-sm font-medium text-emerald-400">Running</span>
                                </div>

                                <!-- PLAYERS -->
                                <div class="text-sm text-gray-300 min-w-[80px] text-center">
                                    7 / 8
                                </div>

                                <!-- MEMORY -->
                                <div class="text-sm text-gray-300 min-w-[100px] text-center">
                                    1.2 GB
                                </div>

                                <!-- PLAYERS -->
                                <div class="text-sm text-gray-300 min-w-[80px] text-center">
                                    Dynamic Server
                                </div>

                                <!-- CONTAINER OS -->
                                <div class="text-sm text-gray-400 min-w-[110px] text-center">
                                    <i class="fa-brands fa-docker"></i>
                                    Docker
                                </div>

                                <!-- ACTIONS -->
                                <div class="flex gap-2">
                                    <button
                                        class="bg-gray-600/30 hover:bg-gray-600/50 rounded-lg px-3 py-3 text-xs font-semibold">
                                        View
                                    </button>
                                    <button
                                        class="bg-red-500/80 hover:bg-red-600 rounded-lg px-3 py-3 text-xs font-semibold">
                                        Stop
                                    </button>
                                </div>
                            </li>

                            <li class="flex items-center justify-between bg-[#181818] rounded-lg p-4 mt-4">

                                <!-- LEFT: Server identity -->
                                <div class="flex items-center gap-4 min-w-[200px]">
                                    <div class="bg-gray-500/20 p-3 rounded-xl text-lg">
                                        <i class="fa-solid fa-box-open"></i>
                                    </div>

                                    <div>
                                        <h4 class="font-semibold text-sm">dy-bw-r-11</h4>
                                        <p class="text-xs text-gray-400">BedWars Common</p>
                                    </div>
                                </div>

                                <!-- STATUS -->
                                <div class="flex items-center gap-2 min-w-[110px]">
                                    <span class="h-2 w-2 rounded-full bg-emerald-500"></span>
                                    <span class="text-sm font-medium text-emerald-400">Running</span>
                                </div>

                                <!-- PLAYERS -->
                                <div class="text-sm text-gray-300 min-w-[80px] text-center">
                                    3 / 8
                                </div>

                                <!-- MEMORY -->
                                <div class="text-sm text-gray-300 min-w-[100px] text-center">
                                    0.9 GB
                                </div>

                                <!-- PLAYERS -->
                                <div class="text-sm text-gray-300 min-w-[80px] text-center">
                                    Dynamic Server
                                </div>

                                <!-- CONTAINER OS -->
                                <div class="text-sm text-gray-400 min-w-[110px] text-center">
                                    <i class="fa-solid fa-box"></i> Kubernetes
                                </div>

                                <!-- ACTIONS -->
                                <div class="flex gap-2">
                                    <button
                                        class="bg-gray-600/30 hover:bg-gray-600/50 rounded-lg px-3 py-3 text-xs font-semibold">
                                        View
                                    </button>
                                    <button
                                        class="bg-red-500/80 hover:bg-red-600 rounded-lg px-3 py-3 text-xs font-semibold">
                                        Stop
                                    </button>
                                </div>
                            </li>

                            <li class="flex items-center justify-between bg-[#181818] rounded-lg p-4 mt-4">

                                <!-- LEFT: Server identity -->
                                <div class="flex items-center gap-4 min-w-[200px]">
                                    <div class="bg-gray-500/20 p-3 rounded-xl text-lg">
                                        <i class="fa-solid fa-box-open"></i>
                                    </div>

                                    <div>
                                        <h4 class="font-semibold text-sm">dy-bw-r-10</h4>
                                        <p class="text-xs text-gray-400">BedWars Common</p>
                                    </div>
                                </div>

                                <!-- STATUS -->
                                <div class="flex items-center gap-2 min-w-[110px]">
                                    <span class="h-2 w-2 rounded-full bg-red-500"></span>
                                    <span class="text-sm font-medium text-red-400">Shutdowing</span>
                                </div>

                                <!-- PLAYERS -->
                                <div class="text-sm text-gray-300 min-w-[80px] text-center">
                                    0 / 8
                                </div>

                                <!-- MEMORY -->
                                <div class="text-sm text-gray-300 min-w-[100px] text-center">
                                    0.1 GB
                                </div>

                                <!-- PLAYERS -->
                                <div class="text-sm text-gray-300 min-w-[80px] text-center">
                                    Dynamic Server
                                </div>

                                <!-- CONTAINER OS -->
                                <div class="text-sm text-gray-400 min-w-[110px] text-center">
                                    <i class="fa-solid fa-folder-plus"></i> BiteControl
                                </div>

                                <!-- ACTIONS -->
                                <div class="gap-2 min-w-[110px] text-center">
                                    <span class="text-sm font-medium text-gray-700">No Actions</span>
                                </div>
                            </li>

                            <li class="flex items-center justify-between bg-[#181818] rounded-lg p-4 mt-4">

                                <!-- LEFT: Server identity -->
                                <div class="flex items-center gap-4 min-w-[200px]">
                                    <div class="bg-gray-500/20 p-3 rounded-xl text-lg">
                                        <i class="fa-solid fa-box-open"></i>
                                    </div>

                                    <div>
                                        <h4 class="font-semibold text-sm">lb-bw-2</h4>
                                        <p class="text-xs text-gray-400">Lobby Bed Summer</p>
                                    </div>
                                </div>

                                <!-- STATUS -->
                                <div class="flex items-center gap-2 min-w-[110px]">
                                    <span class="h-2 w-2 rounded-full bg-emerald-500"></span>
                                    <span class="text-sm font-medium text-emerald-400">Running</span>
                                </div>

                                <!-- PLAYERS -->
                                <div class="text-sm text-gray-300 min-w-[80px] text-center">
                                    40 / 100
                                </div>

                                <!-- MEMORY -->
                                <div class="text-sm text-gray-300 min-w-[100px] text-center">
                                    5.3 GB
                                </div>

                                <!-- PLAYERS -->
                                <div class="text-sm text-gray-300 min-w-[80px] text-center">
                                    Lobby
                                </div>

                                <!-- CONTAINER OS -->
                                <div class="text-sm text-gray-400 min-w-[110px] text-center">
                                    <i class="fa-solid fa-folder-plus"></i> BiteControl
                                </div>

                                <!-- ACTIONS -->
                                <div class="flex gap-2">
                                    <button
                                        class="bg-gray-600/30 hover:bg-gray-600/50 rounded-lg px-3 py-3 text-xs font-semibold">
                                        View
                                    </button>
                                    <button
                                        class="bg-red-500/80 hover:bg-red-600 rounded-lg px-3 py-3 text-xs font-semibold">
                                        Stop
                                    </button>
                                </div>
                            </li>

                            <li class="flex items-center justify-between bg-[#181818] rounded-lg p-4 mt-4">

                                <!-- LEFT: Server identity -->
                                <div class="flex items-center gap-4 min-w-[200px]">
                                    <div class="bg-gray-500/20 p-3 rounded-xl text-lg">
                                        <i class="fa-solid fa-box-open"></i>
                                    </div>

                                    <div>
                                        <h4 class="font-semibold text-sm">dy-sw-r-3</h4>
                                        <p class="text-xs text-gray-400">Sky Wars </p>
                                    </div>
                                </div>

                                <!-- STATUS -->
                                <div class="flex items-center gap-2 min-w-[110px]">
                                    <span class="h-2 w-2 rounded-full bg-yellow-500"></span>
                                    <span class="text-sm font-medium text-yellow-400">Starting</span>
                                </div>

                                <!-- PLAYERS -->
                                <div class="text-sm text-gray-300 min-w-[80px] text-center">
                                    0 / 16
                                </div>

                                <!-- MEMORY -->
                                <div class="text-sm text-gray-300 min-w-[100px] text-center">
                                    0.3 GB
                                </div>

                                <!-- PLAYERS -->
                                <div class="text-sm text-gray-300 min-w-[80px] text-center">
                                    Dynamic Server
                                </div>

                                <!-- CONTAINER OS -->
                                <div class="text-sm text-gray-400 min-w-[110px] text-center">
                                    <i class="fa-solid fa-folder-plus"></i> BiteControl
                                </div>

                                <!-- ACTIONS -->
                                <div class="gap-2 min-w-[110px] text-center">
                                    <span class="text-sm font-medium text-gray-700">No Actions</span>
                                </div>
                            </li>
                        </ul>
                    </div>